.nav_body{
    height:8.4vh;
    width:100%;
    background-color: black;
    color:white;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    display: inline-block;
    margin:0;
    padding:0;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
}
.nav_ul{
    display: inline-flex;
    list-style: none;
    margin-left: 20px;

}
li{
    padding:20px 20px ;
    cursor: pointer;

}
li:hover{
    background-color: rgb(46, 45, 45);
    color:white;
    transition: all ease 0.5s;
}
.nav_login{
    display: flex;
    align-items: center;
    height:8.4vh;
    float:right;
    /* background-color: black; */
    /* margin-top:1.5vh; */
    /* display: flex; */
    /* align-items: center; */
    /* height:10vh; */
    margin-right: 1.9vh;
    display: none;
    /* padding-top:6px; */
    
}
.nav_res{
    display: none;
    position: relative;
    top:-7vh;


}
.nav_btn{
    display: none;
    
}
.nav_ham_ul{
    display: none;
}
.nav_login_icon{
    font-size: 19px;
}
.nav_li_down{
    font-size: 11px;
}
.nav_hover,.nav_hover2{
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%) ;
    position: absolute;
    margin-top: 10px;
    padding: 0;
    display: none;
    list-style: none;
    line-height: 12px;
    color:black;
}
.nav_logo{
    height:25px;
    width:160px;
    margin-left: 20px;
    /* margin-top: -10px; */
}






@media (max-width:998px) {
    
    
    .nav_ul{
        display: none;
    }
    .nav_res{
        display:block;
        float:right;
        margin:0.56rem;
        background-color: black;
    }

    .nav_ham{
        min-height:55vh;
        width:100%;
        background-color: black;
        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
        margin: auto;
        display: none;
        border-radius: 4px;
    }
    .nav_btn{
        display: block;
        border:none;
        font-size:24px;
        background-color:black;
        color:white;
        border-radius: 4px;
        z-index: 1000;
        float:right;
        margin-top:-5vh;
        margin-right:20px;
    }
    
    .nav_ham_ul{
        display: block;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .nav_login{
        display: none;
    }
    .nav_float_right{
        float:right;
    }
    .nav_hover3,.nav_hover4{
        list-style: none;
        padding:0;
        margin-left:-20px;
        padding-left: 60px;
        /* width:100%; */
        margin-right:-20px;
        margin-bottom: -20px;
        margin-top:10px;
        background-color: black;
        color:white;
        display: none;
    }
    .nav_logo{
        margin-top:10px;
    }   
}
@media only screen and (max-width: 1062px) and (min-width: 998px)  {

    li{
        padding:20px 15px ;

    }

}
