.footer_body{
    display: flex;
    background-image: url('https://pokhariyaschool.edu.np/images/footer.jpg');
    height:50vh;
    width:100%;
    /* float:botto; */
    background-color: #0e1113;
    opacity:0.9;

}